#Filtypes
*.bin
*.log
*.db

#Ignore unity temp and meta data that doesn't belong in git
SonarQube/Temp/*
SonarQube/Library/metadata/*
SonarQube/Library/ScriptAssemblies/*
SonarQube/Library/PlayerDataCache/*
SonarQube/Library/ShaderCache/*

assetDatabase3
expandedItems

#OS and IDE files
.DS_Store
SonarQube/.vscode/*
